extends ../layout

block content
    a.btn.btn-outline-success(href='/character/new')
        span(class="fa fa-plus")
        |  New Character
    .table-responsive.my-2
        .col-sm-6.offset-sm-3.text-center#tableLoading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .sr-only Table is Loading
        table.table.table-striped.table-filtered.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100( style="display: none")
            thead
                tr
                    th
                    th(data-order='asc') Name
                    th(data-partialmatch="true") Group(s)
                    th(data-nofilter="true") Character Sheet
                    th(data-priority="1")

            tbody
                for character in characters
                    tr(class='clickable-row', data-click-object='character' data-click-id=character.id)
                        td.dtr-expand
                        td
                            a(href='/character/' + character.id)= character.name
                        td
                            if character.groups.length
                                span=_.pluck(character.groups, 'name').join(', ')
                            else
                                i Ungrouped
                        td
                            if character.character_sheet
                                a.action-btn(href=character.character_sheet target="_blank") Sheet
                                    i.fas.fa-external-link-alt.ml-1

                        td.text-right
                            a.btn.btn-outline-danger.btn-xs.delete-btn(
                                role="button",
                                url=`/character/${character.id}`,
                                data-back='/character'
                            )
                                i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
