extends ../layout

block content
    .row
        .col-md.pt-1
            a.btn.btn-outline-success(href='/meeting/new')
                span.fas.fa-plus.mr-1
                | New Meeting
        if jitsi.configured && jitsi.instance
            if checkPermission('admin') && jitsi.instance
                .col-md.text-md-center.pt-1
                    case jitsi.status
                        when 'running'
                            a.btn.btn-danger#stop-jitsi-btn(data-csrf=csrfToken)
                                span.fas.fa-power-off.mr-1
                                | Stop Jitsi Server
                        when 'stopped'
                            a.btn.btn-success#start-jitsi-btn(data-csrf=csrfToken)
                                span.fas.fa-power-off.mr-1
                                | Start Jitsi Server

            .col-md.lead.text-md-right.pt-1 Jitsi Server Status
                case jitsi.status
                    when 'running'
                        .badge.badge-success.ml-1= capitalize(jitsi.status)
                    when 'stopped'
                        .badge.badge-danger.ml-1= capitalize(jitsi.status)
                    default
                        .badge.badge-warning.ml-1= capitalize(jitsi.status)


    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    if checkPermission('creator')
                        th(data-priority="4") Id
                    th(data-priority="1", data-order='asc') Name
                    th Meeting Id
                    th(data-priority="3") GM
                    th(data-priority="4") Active
                    th(data-priority="2")

            tbody
                for meeting in meetings
                    tr(class='clickable-row', data-click-object='meeting' data-click-id=meeting.id)
                        td.dtr-expand
                        if checkPermission('creator')
                            th= meeting.id
                        td
                            a(href='/meeting/' + meeting.id)= meeting.name
                        td= meeting.meeting_id
                        td= meeting.gm
                        td= meeting.active?'Yes':'No'
                        td.text-right
                            if jitsiActive
                                a.btn.btn-primary.btn-sm.action-btn(
                                    role="button",
                                    href=`/meeting/${meeting.id}/open`
                                    data-toggle="tooltip"
                                    data-delay={ "show": 500, "hide": 100 }
                                    title="Open Meeting"
                                )
                                    i.fas.fa-video.fa-fw
                                    span.ml-2.d-none.d-md-inline Open Meeting
                            if checkPermission('creator')
                                a.btn.btn-outline-danger.btn-sm.delete-btn.ml-2(
                                    role="button",
                                    url=`/meeting/${meeting.id}`,
                                    data-back='/meeting'
                                )
                                    i.fas.fa-trash.fa-fw


append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/meeting.js')
