extends ../layout

block content
    .d-flex.flex-column.h-100
        .container.p-1(role="breadcrumbs")
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    for breadcrumb in page_breadcrumbs.path
                        li.breadcrumb-item
                            a(href=breadcrumb.url)= breadcrumb.name
                    li.breadcrumb-item.active(aria-current="page")= page_breadcrumbs.current
        .video-container.m-1.rounded#video-container(
            data-domain=meeting.domain,
            data-meeting_id=meeting.meeting_id,
            data-subject=meeting.name
            data-jwt=meeting.jwt
        )

append scripts
    script.
       $(function() {
            startVideo({
                domain: $('#video-container').data('domain'),
                meetingName: $('#video-container').data('meeting_id'),
                subject: $('#video-container').data('subject'),
                jwt: $('#video-container').data('jwt'),
                fullscreen:true,
                gm: true
            });
            setTimeout(()=> {
                expandChatSidebar();
            }, 200);
        });


