if user.gamestate.current
    if user.gamestate.transitioning
        a.badge.badge-light.badge-gamestate(href=`/gamestate/${user.gamestate.prev.id}`)
            | #{user.gamestate.prev.name}
        i.fas.fa-arrow-right.fa-fw.mx-1
        a.badge.badge-light.badge-gamestate(href=`/gamestate/${user.gamestate.next.id}`)
            | #{user.gamestate.next.name}
        span.ml-2 #{user.gamestate.transitionTime}
    else
        a.badge.badge-light.badge-gamestate(href=`/gamestate/${user.gamestate.current.id}`)
            | #{user.gamestate.current.name}
else
    i Unknown
