a.btn.btn-info.player-trigger-btn.btn-sm.mx-1(
    role="button"
    data-triggerid=trigger.id
    data-user=userId
    data-csrf=csrfToken
    title= `Trigger ${trigger.name}`
    data-toggle="tooltip"
)
    i.fas(class=trigger.icon)
    if full
        span.pl-1 #{trigger.name}#{userId==='all'?' on All':''}
