.form-group
    label.control-label(for="variable_name") Name
    input.form-control(type="text",placeholder="Name",name="variable[name]",value=variable.name,id='variable_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="variable_type") Type
    select.custom-select.select2(name="variable[type]",id="variable_type")
        option
        for type in ['integer', 'string', 'date', 'boolean', 'object', 'array']
            option(value=type selected=variable.type === type)= capitalize(type)

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="variable[player]", id="variable_player", checked=variable.player)
        label.custom-control-label(for="variable_player") Player (Scoped to each player vs scoped to the run itself)

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="variable[public]", id="variable_public", checked=variable.public)
        label.custom-control-label(for="variable_public") Public (Player-visible)

.form-group
    label.control-label(for="variable_base_value") Default Value (JSON-formatted)
    +jsonEditor('variable_base_value', 'variable[base_value]', 3, 100, variable.base_value?JSON.parse(variable.base_value):null)

.form-group
    button.btn.btn-primary(type="submit")= variable.id?'Update':'Create'
    a.btn.btn-link(href="/variable") Cancel


