extends ../layout

block content
    a.btn.btn-outline-success(href='/group/new')
        span(class="fa fa-plus")
        |  New Player Group
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100
            thead
                tr
                    th
                    th(data-order='asc') Name
                    th Has Chat
                    th Description
                    th(data-priority="1")

            tbody
                for group in groups
                    tr(class='clickable-row', data-click-object='group' data-click-id=group.id)
                        td.dtr-expand
                        td
                            a(href='/group/' + group.id)= group.name
                        td= group.chat?"Yes":"No"
                        td= group.description
                        td.text-right
                            a.btn.btn-outline-danger.btn-xs.delete-btn(
                                role="button",
                                url=`/group/${group.id}`,
                                data-back='/group'
                            )
                                i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
