mixin gamestate(gamestate)
    .lead=gamestate.description
    if gamestate.image_id
        .row.my-2
            .col.text-center

                .row.my-1
                    .col
                        .lead.text-center#link-name &nbsp;

                .row.my-1
                    .col.h-50
                        image.map.mx-auto.img-fluid(src=gamestate.image.url, usemap='#gamestate-' + gamestate.id, style='max-height:60vh')
                        map(name= 'gamestate-' + gamestate.id, id=`gamestate-${gamestate.id}` )
                            - let areaId = 0;
                            while areaId < gamestate.map.length
                                - let area = gamestate.map[areaId]
                                area(
                                    id=`area-${areaId}`,
                                    shape=area.shape,
                                    coords=area.coords,
                                    data-name=area.name,
                                    data-gamestate-id=gamestate.id
                                    data-area=areaId
                                    href='#',
                                    target="_self"
                                )
                                - areaId++;

    if gamestate.showCode || (gamestate.links && gamestate.links.length)
        .row.my-3
            .col
                form#code-form
                    .alert.alert-warning.col-md-8.offset-md-2#code-feedback(role='alert')
                    input.form-control.rounded-pill.col-md-8.offset-md-2.bg-dark.text-light#code-entry(type="input", placeholder="Code")


mixin transition(transition, gamestates, groups, current)
    - const fromState = _.findWhere(gamestates, {id: transition.from_state_id});
    - const toState = _.findWhere(gamestates, {id: transition.to_state_id});
    - moment.relativeTimeThreshold('ss', 0);

    .card.m-1
        .card-header
            if current.id !== fromState.id
                a(href=`/gamestate/${fromState.id}`)= fromState.name
            else
                | #{fromState.name}
            i.fas.fa-arrow-right.fa-fw.mx-1
            if current.id !== toState.id
                a(href=`/gamestate/${toState.id}`)= toState.name
            else
                | #{toState.name}

            if transition.type === 'gamestate' && checkPermission('creator')
                .float-right
                    a.btn.btn-sm.btn-outline-info(
                        role=button,
                        href=`/transition/${transition.id}`
                        data-toggle="tooltip"
                        title="Edit Transition"
                    )
                        i.fa.fa-edit

        .card-body
            dl.row.py-0.my-0
                dt.col-5 Source
                dd.col-7
                    strong

                    case transition.type
                        when 'map'
                            strong.mr-1 Map:
                            span.map-highlight(data-area=transition.areaId)
                                | #{transition.name}
                                i.fa.fa-search.ml-1
                        when 'gamestate'
                            if transition.link_id
                               strong.mr-1 Code:
                               i.ml-1 #{links[transition.link_id].code}
                            else
                                strong Manual

                dt.col-5 Delay
                dd.col-7
                    if transition.delay
                        = moment.duration(transition.delay, "seconds").humanize()
                    else
                        i None

                dt.col-5 Player Group
                dd.col-7
                    if transition.group_id
                        = _.findWhere(groups, {id: transition.group_id}).name
                    else
                        i All


