include ./imagemap

mixin gamestate(gamestate, links)
    .lead=gamestate.description
    if gamestate.image_id
        .row.my-2
            .col.text-center
                +imagemap(gamestate, links)
    if gamestate.links.length
        .row.my-3
            .col
                form#code-form
                    .alert.alert-warning.col-md-8.offset-md-2#code-feedback(role='alert')
                    input.form-control.code-search.col-md-8.offset-md-2#code-entry(type="input", placeholder="Code")


mixin transition(transition, gamestates, player_groups)
    - const fromState = _.findWhere(gamestates, {id: transition.from_state_id});
    - const toState = _.findWhere(gamestates, {id: transition.to_state_id});
    - moment.relativeTimeThreshold('ss', 0);

    .card.m-1
        .card-header
            | #{fromState.name}
            i.fas.fa-arrow-right.fa-fw.mx-1
            | #{toState.name}
        .card-body
            dl.row.py-0.my-0
                dt.col-5 Source
                dd.col-7
                    strong

                    case transition.type
                        when 'map'
                            strong.mr-1 Map:
                            span.map-highlight(data-area=transition.areaId)
                                | #{transition.name}
                                i.fa.fa-search.ml-1
                        when 'gamestate'
                            if transition.link_id
                               strong.mr-1 Code:
                               i.ml-1 #{links[transition.link_id].code}
                            else
                                strong Manual

                dt.col-5 Delay
                dd.col-7
                    if transition.delay
                        = moment.duration(transition.delay, "seconds").humanize()
                    else
                        i None

                dt.col-5 Player Group
                dd.col-7
                    if transition.group_id
                        = _.findWhere(player_groups, {id: transition.group_id}).name
                    else
                        i All


