mixin imagemap(imagemap)
    image.map.mx-auto(src=imagemap.image.url, usemap='#imagemap-' + imagemap.id )
    map(name= 'imagemap-' + imagemap.id)
        for area of imagemap.map
            area(
                shape=area.shape,
                coords=area.coords,
                data-code=area.code,
                href='#',
                target="_self"
            )
