mixin players(users, runId)
    - moment.relativeTimeThreshold('ss', 0);
    .table-responsive
        .col-sm-6.offset-sm-3.text-center#tableLoading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .sr-only Table is Loading
        table.table.table-striped.table-filtered.table-hover.my-3.dt-responsive.nowrap.table-sm#players-table.w-100(
            data-runid=run?run.id:null
            style= 'display:none'
        )
            thead
                tr
                    th
                    if runs
                        th(data-priority="7") Run
                    th(data-priority="6" data-partialmatch="true" ) Group
                    th(data-priority="1", data-order='asc') Name
                    th(data-priority="2") Character
                    th(data-priority="4") Game State
                    th(data-priority="5" data-nofilter="true") State Time
                    th(data-priority="3")
            tbody
                for user in users
                    tr(data-userid=user.id)
                        td.dtr-expand
                        if runs
                            td.col-run-name= runs[user.player.run_id].name
                        td.col-player-groups
                            if user.player.groups.length
                                | #{_.pluck(user.player.groups, 'name').join(', ')}
                            else
                                i Ungrouped
                        td.col-player-name(data-search=user.name)= user.name
                            if (user.connected)
                                .badge.badge-success.ml-2 Connected
                        td.col-player-character
                            if (user.player.character_sheet)
                                a.action-btn(href=user.player.character_sheet target="_blank")
                                    if user.player.character
                                        span= user.player.character
                                    else
                                        i Unspecified
                                    i.fas.fa-external-link-alt.ml-1
                            else
                                if user.player.character
                                    span= user.player.character
                                else
                                    i Unspecified
                        td.col-player-gamestate
                            if user.gamestate.current
                                if user.gamestate.transitioning
                                    a.badge.badge-light.badge-gamestate(href=`/gamestate/${user.gamestate.prev.id}`)
                                        | #{user.gamestate.prev.name}
                                    i.fas.fa-arrow-right.fa-fw.mx-1
                                    a.badge.badge-light.badge-gamestate(href=`/gamestate/${user.gamestate.next.id}`)
                                        | #{user.gamestate.next.name}
                                else
                                    a.badge.badge-light.badge-gamestate(href=`/gamestate/${user.gamestate.current.id}`)
                                        | #{user.gamestate.current.name}
                            else
                                i Unknown
                        td.col-player-statetime(data-sort=user.player.statetime)
                            if user.gamestate.current
                                if user.gamestate.transitioning
                                    | #{moment(user.player.statetime).fromNow()}
                                else
                                    | #{user.gamestate.transitionTime}

                        td.text-right
                            a.btn.btn-outline-info.btn-xs.mx-1.player-message-btn(
                                style=user.connections.length?'':'display:none'
                                role="button"
                                data-toggle="modal"
                                data-target="#toastModal"
                                data-type="user"
                                data-user=user.id
                                data-name=user.name
                                title="Message User"
                            )
                                i.fas.fa-comment

                            span.col-player-triggers
                                for trigger in user.triggers
                                    if trigger.icon
                                        +triggerButton(trigger, user.id, false)(class='btn-xs mx-1')



                            a.btn.btn-outline-info.btn-xs.mx-1.player-viewdata-btn(
                                role="button"
                                data-toggle="modal"
                                data-target="#dataModal"
                                data-user=user.id
                                data-name=user.name
                                data-userdata=JSON.stringify(user.player.data)
                                title="View Player Data"
                            )
                                i.fas.fa-search

                            a.btn.btn-outline-info.mr-1.btn-xs.player-advance-btn(
                                role="button",
                                url=`/player/${user.id}/advance`,
                                data-csrf=csrfToken,
                                data-toggle="tooltip"
                                title="Advance User State"
                            )
                                i.fas.fa-arrow-right

                            a.btn.btn-success.mr-1.btn-xs.player-advance-btn-confirm(
                                role="button",
                                url=`/player/${user.id}/advance`,
                                data-csrf=csrfToken,
                            )
                                o.fa.fa-check
                            a.btn.btn-danger.mr-1.btn-xs.player-advance-btn-cancel(role="button")
                                o.fa.fa-times
                            a.btn.btn-outline-warning.btn-xs(
                                role="button"
                                href=`/player/${user.id}/assume`
                                data-toggle="tooltip"
                                title="Assume User"
                                )
                                i.fas.fa-user-secret

    .modal.fade#toastModal(role="dialog" tabindex="-1" aria-labelledby="toastModalLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#toastModalLabel Send Message to Player
                    button.close#dismissToastModal(type="button", data-dismiss="modal" area-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .form
                        .form-group
                            label.col-form-label(for="toastFrom") Send As:
                            input.form-control#toastFrom(type="text",placeholder=config.get('app.name'))
                        .form-group
                            label.col-form-label(for="toastText") Message:
                            textarea.form-control#toastText
                        .form-group
                            .custom-control.custom-switch
                                input.custom-control-input#toastAutohide(type="checkbox", checked=true)
                                label.custom-control-label(for="toastAutohide") Autohide after 30 seconds
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary#toastSend(type="button",data-csrf=csrfToken ) Send Message

    .modal.fade#dataModal(role="dialog" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#dataModalLabel Player Data
                    button.close#dismissDataModal(type="button", data-dismiss="modal" area-label="Close")
                        span(aria-hidden="true") &times;
                pre.modal-body

                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Close




