extends ../layout
include ../partials/triggerButton

block content
    if checkPermission('creator')
        a.btn.btn-outline-success(href='/trigger/new')
            span(class="fa fa-plus")
            |  New Trigger
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    th(data-order='asc') Name
                    th Description
                    th Buttons
                    if checkPermission('creator')
                        th

            tbody
                for trigger in triggers
                    tr(class='clickable-row', data-click-object='trigger' data-click-id=trigger.id)
                        td.dtr-expand
                        td
                            a(href='/trigger/' + trigger.id)= trigger.name
                        td= trigger.description
                        th
                            if trigger.icon
                                +triggerButton(trigger, 'none', true)(class='btn-sm mx-1')
                                +triggerButton(trigger, 'none', false)(class='btn-sm mx-1')
                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-success.btn-sm.mr-1.action-btn(
                                    role="button",
                                    href=`/trigger/new?clone=${trigger.id}`,
                                    title="Copy"
                                    data-toggle="tooltip"
                                )
                                    i.fas.fa-copy.fa-fw

                                a.btn.btn-outline-danger.btn-sm.delete-btn(
                                    role="button",
                                    url=`/trigger/${trigger.id}`,
                                    data-back='/trigger'
                                )
                                    i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
