extends ../layout
include ../partials/triggerButton

block content
    if checkPermission('creator')
        a.btn.btn-outline-success(href='/trigger/new')
            span(class="fa fa-plus")
            |  New Trigger
    .table-responsive
        table.table.table-striped.table-filtered.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100
            thead
                tr
                    th(data-order='asc') Name
                    th Description
                    th(data-nofilter="true") Execute on Run
                    th(data-nofilter="true") Execute on Players
                    th(data-partialmatch="true") Group
                    th(data-nofilter="true") Condition
                    if checkPermission('creator')
                        th(data-priority="1")

            tbody
                for trigger in triggers
                    tr(class='clickable-row', data-click-object='trigger' data-click-id=trigger.id)
                        td
                            a(href='/trigger/' + trigger.id)= trigger.name
                        td= trigger.description
                        td
                            if trigger.run
                                 +triggerButton(trigger, 'none', true)(class='btn-xs mx-1')
                        td
                            if trigger.player
                                +triggerButton(trigger, 'none', false)(class='btn-xs mx-1')
                        td
                            if (trigger.group_id)
                                span.mr-2= _.findWhere(groups, {id:Number(trigger.group_id)}).name
                            else
                                i All
                        td= trigger.condition


                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-success.btn-xs.mr-1.action-btn(
                                    role="button",
                                    href=`/trigger/new?clone=${trigger.id}`,
                                    title="Copy"
                                    data-toggle="tooltip"
                                )
                                    i.fas.fa-copy.fa-fw

                                a.btn.btn-outline-danger.btn-xs.delete-btn(
                                    role="button",
                                    url=`/trigger/${trigger.id}`,
                                    data-back='/trigger'
                                )
                                    i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
