extends ../layout

block content
    if checkPermission('creator')
        a.btn.btn-outline-success(href='/image/new')
            span(class="fa fa-plus")
            |  New Image

    .row.row-cols-1.row-cols-md-4.pt-3
        for image in images
            .col.mb-4
                .card
                    .card-header
                        .badge.badge-primary.float-right=image.status
                        h5.card-title=image.display_name?image.display_name:image.name
                    img.card-img-top(src=image.url alt=image.display_name?image.display_name:image.name)
                    .card-body
                        div
                            if image.is_popup
                                .badge.badge-info.mr-2 Popup
                            if image.is_inventory
                                .badge.badge-info.mr-2 Inventory
                            if image.is_gamestate
                                .badge.badge-info.mr-2 Gamestate
                        if image.description
                            p.mt-2.card-text=image.description

                    if checkPermission('creator')
                        .card-footer
                            span.float-left
                                strong Id: #{image.id}
                            span.float-right
                                a.btn.btn-outline-info.btn-sm.mr-2(
                                    role="button",
                                    href=`/image/${image.id}`
                                    data-toggle="tooltip"
                                    title="Edit image"
                                )
                                    i.fas.fa-edit.fa-fw
                                a.btn.btn-outline-danger.btn-sm.delete-btn(
                                    role="button",
                                    url=`/image/${image.id}`,
                                    data-back='/image'
                                    data-toggle="tooltip"
                                    title="Delete image"
                                )
                                    i.fas.fa-trash.fa-fw
