.form-group
    label.control-label(for="user_name") Name
    input.form-control(type="text",placeholder="Name",name="user[name]",value=user.name,id='user_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="user_description") Email
    input.form-control(type="email", placeholder="Email", name="user[email]",id="user_description",value=user.email,required)

.form-group
    .form-check
        input.form-check-input(type="checkbox", name="user[is_admin]",checked=user.is_admin id="user_is_admin")
        label.form-check-label(for="user_is_admin") Admin

.form-group
    .form-check
        input.form-check-input(type="checkbox", name="user[is_gm]",checked=user.is_gm id="user_is_gm")
        label.form-check-label(for="user_is_admin") GM

.form-group
    button.btn.btn-primary(type="submit")= user.id?'Update':'Create'
    a.btn.btn-link(href="/user") Cancel


