.form-group
    label.control-label(for="user_name") Name
    input.form-control(type="text",placeholder="Name",name="user[name]",value=user.name,id='user_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="user_email") Email
    input.form-control(type="email", placeholder="Email", name="user[email]",id="user_email",value=user.email,required)

.form-group
    label.control-label(for="user_type") User Type
    select.custom-select.select2(name="user[type]",id="user_type")
        for type in ['admin', 'creator', 'gm', 'player', 'none']
            option(value=type selected=user.type === type)= capitalize(type)

fieldset#player_fields
    label.my-2.w-auto.lead Player settings
    .form-group
        label.control-label(for="user_run_id") Run
        select.form-control.select2(name="user[player][run_id]",id="user_run_id")
            for run in runs
                option(value=run.id selected=user.player.run_id===run.id)= run.name
    .form-group
        label.control-label(for="user_groups") Groups
        select.form-control.select2(multiple, name="user[player][groups]",id="user_groups")
            for group in groups
                option(value=group.id selected=_.findWhere(user.player.groups, {id:group.id}))= group.name

    .form-group
        label.control-label(for="user_character") Name
        input.form-control(type="text",placeholder="Character",name="user[player][character]",value=user.player.character,id='user_character')

    .form-group
        label.control-label(for="user_gamestate_id") Game State
        select.custom-select.select2(name="user[player][gamestate_id]",id="user_gamestate_id" data-placeholder="Select Gamestate")
            option
            for gamestate in gamestates
                option(value=gamestate.id selected=user.player.gamestate_id===gamestate.id)= gamestate.name

.form-group
    button.btn.btn-primary(type="submit")= user.id?'Update':'Create'
    a.btn.btn-link(href="/user") Cancel


-console.log(JSON.stringify(user, null, 2))
