.form-group
    label.control-label(for="user_name") Name
    input.form-control(type="text",placeholder="Name",name="user[name]",value=user.name,id='user_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="user_email") Email
    input.form-control(type="email", placeholder="Email", name="user[email]",id="user_email",value=user.email,required)

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="user[is_admin]",checked=user.is_admin id="user_is_admin")
        label.custom-control-label(for="user_is_admin") Admin

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="user[is_gm]",checked=user.is_gm id="user_is_gm")
        label.custom-control-label(for="user_is_gm") GM

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="user[is_player]",checked=user.is_player id="user_is_player")
        label.custom-control-label(for="user_is_player") Player

fieldset#player_fields
    label.my-2.w-auto.lead Player settings
    .form-group
        label.control-label(for="user_run_id") Run
        select.form-control(name="user[player][run_id]",id="user_run_id")
            for run in runs
                option(value=run.id selected=user.player.run_id===run.id)= run.name
    .form-group
        label.control-label(for="user_group_id") Player Group
        select.form-control(name="user[player][group_id]",id="user_group_id")
            option(value=0 selected=!user.player.group) None
            for group in player_groups
                option(value=group.id selected=user.player.group_id===group.id)= group.name


    .form-group
        label.control-label(for="user_game_state") Game State
        input.form-control(type="text",placeholder="Game State",name="user[player][game_state]",value=user.player.game_state,id='user_game_state')

.form-group
    button.btn.btn-primary(type="submit")= user.id?'Update':'Create'
    a.btn.btn-link(href="/user") Cancel
