extends ../layout

block content
    a.btn.btn-outline-success(href='/user/new')
        span(class="fa fa-plus")
        |  New User
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    th(data-order='asc') Name
                    th Email
                    th Type
                    th Run
                    th Group(s)
                    th Character
                    th

            tbody
                for user in users
                    tr(class='clickable-row', data-click-object='user' data-click-id=user.id)
                        td.dtr-expand
                        td
                            a(href='/user/' + user.id)= user.name
                        td= user.email
                        td= capitalize(user.type)
                        td= user.type === 'player'?runs[user.player.run_id].name:''
                        td= user.type === 'player'?_.pluck(user.player.groups, 'name').join(', '):'Ungrouped'
                        td= user.type === 'player'?user.player.character:''
                        td.text-right
                            a.btn.btn-outline-danger.btn-sm.delete-btn(
                                role="button",
                                url=`/user/${user.id}`,
                                data-back='/user'
                            )
                                i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
