extends ../layout

block content
    a.btn.btn-outline-success(href='/user/new')
        span(class="fa fa-plus")
        |  New User
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th Name
                    th Email
                    th Admin
                    th GM
                    th Player
                    th Run

            tbody
                for user in users
                    tr(class='clickable-row', data-click-object='user' data-click-id=user.id)
                        td
                            a(href='/user/' + user.id)= user.name
                        td= user.email
                        td= user.is_admin?'Yes':'No'
                        td= user.is_gm?'Yes':'No'
                        td= user.is_player?'Yes':'No'
                        th= user.is_player?user.player.run.name:''


append scripts
    script(src='/javascripts/data-table.js')
