extends ../layout

block content
    -let hasErrors = false;
    if validation.issues.length
        - hasErrors=true;
        h3.text-danger Issues
        ul.list-unstyled
            each issue in validation.issues
                li= issue

    if _.keys(validation.unused.gamestates).length || _.keys(validation.unused.links).length || _.keys(validation.unused.imagemaps).length
        - hasErrors=true;
        h3.text-warning Unused Items
        if _.keys(validation.unused.gamestates).length
            h4
                a.text-warning(href='/gamestate') Gamestates
            ul
                each gamestate, key in validation.unused.gamestates
                    li=gamestate.name

        if _.keys(validation.unused.codes).length
            h4
                a.text-warning(href='/code') Codes
            ul
                each code, key in validation.unused.codes
                    li=code.code

        if _.keys(validation.unused.links).length
            h4
                a.text-warning(href='/link') Links
            ul
                each link, key in validation.unused.links
                    li=link.name

    if !hasErrors
        h3.text-success No Issues Found
