
.form-group
    label.control-label(for="transition_from_state") From State
    select.custom-select.select2#transition_from_state(name="transition[from_state_id]",data-placeholder="Select a state")
        option
        for gamestate in gamestates
            option(value=gamestate.id selected=transition.from_state_id===gamestate.id)= gamestate.name

.form-group
    label.control-label(for="transition_to_state") To State
    select.custom-select.select2#transition_to_state(name="transition[to_state_id]",data-placeholder="Select a state")
        option
        for gamestate in gamestates
            option(value=gamestate.id selected=transition.to_state_id===gamestate.id)= gamestate.name

.form-group
    label.control-label(for="transition_group_id") Player Group
    select.custom-select.select2#transition_group_id(name="transition[group_id]")
        option(selected=!transition.group_id value="-1") All
        for player_group in player_groups
            option(value=player_group.id selected=transition.group_id===player_group.id)= player_group.name

.form-group
    label.control-label(for="transition_link_id") Change On Open Link
    select.custom-select.select2#transition_link_id(name="transition[link_id]")
        option(selected=!transition.link_id value="-1") Manual
        for link in links
            option(value=link.id selected=transition.link_id===link.id)= link.name
.form-group
    label.control-label(for="transition_delay") Delay (Seconds)
    input.form-control(type="number",placeholder="Delay in Seconds",name="transition[delay]",id="transition_delay", value=transition.delay)

.form-group
    button.btn.btn-primary(type="submit")= transition.id?'Update':'Create'
    a.btn.btn-link(href="/transition") Cancel


