extends ../layout

block content
    if checkPermission('creator')
        a.btn.btn-outline-success(href='/transition/new')
            span(class="fa fa-plus")
            |  New Transition
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100
            thead
                tr
                    th
                    th(data-order='asc') From
                    th To
                    th Player Group
                    th Link
                    th Delay
                    if checkPermission('creator')
                        th(data-priority="1")

            tbody
                for transition in transitions
                    tr(class=checkPermission('creator')?'clickable-row':'', data-click-object='transition' data-click-id=transition.id)
                        td.dtr-expand
                        td
                            .badge.badge-light.badge-gamestate #{transition.from_state}
                        td
                            .badge.badge-light.badge-gamestate #{transition.to_state}
                        td
                            if transition.group_id
                                = transition.group.name
                            else
                                i All
                        td
                            if transition.link_id
                                = transition.link.name
                            else
                                i Manual
                        td #{transition.delay} Seconds
                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-danger.btn-xs.delete-btn(
                                    role="button",
                                    url=`/transition/${transition.id}`,
                                    data-back='/transition'
                                )
                                    i.fas.fa-trash.fa-fw


append scripts
    script(src='/javascripts/data-table.js')
