extends ../layout

block content
    a.btn.btn-outline-success(href='/link/new')
        span(class="fa fa-plus")
        |  New Link
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100
            thead
                tr
                    th
                    if checkPermission('creator')
                        th(data-priority="4") Id
                    th(data-priority="1", data-order='asc') Name
                    th URL
                    th(data-priority="2") GM
                    th(data-priority="3") Active
                    if checkPermission('creator')
                        th(data-priority="1")

            tbody
                for link in links
                    tr(class='clickable-row', data-click-object='link' data-click-id=link.id)
                        td.dtr-expand
                        if checkPermission('creator')
                            th= link.id
                        td
                            a(href='/link/' + link.id)= link.name
                        td
                            if link.url === 'stub'
                                i Stub
                            else
                                a.action-btn(href=link.url, target="_blank")= link.url
                        td= link.gm
                        td= link.active?'Yes':'No'
                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-danger.btn-xs.delete-btn(
                                    role="button",
                                    url=`/link/${link.id}`,
                                    data-back='/link'
                                )
                                    i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
