extends ../layout

block content
    a.btn.btn-outline-success(href='/link/new')
        span(class="fa fa-plus")
        |  New #{config.get('game.linkName')}
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    th(data-priority="1") Name
                    th(data-priority="2") Code
                    th URL
                    th(data-priority="3") GM
                    th(data-priority="4") Active
                    if checkPermission('creator')
                        th

            tbody
                for link in links
                    tr(class='clickable-row', data-click-object='link' data-click-id=link.id)
                        td.dtr-expand
                        td
                            a(href='/link/' + link.id)= link.name
                        td= link.code
                        td= link.url
                        td= link.gm
                        td= link.active?'Yes':'No'
                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-danger.btn-sm.delete-btn(
                                    role="button",
                                    url=`/link/${link.id}`,
                                    data-back='/link'
                                )
                                    i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
