include ../partials/imagemap
.form-group
    label.control-label(for="gamestate_name") Name
    input.form-control(type="text",placeholder="Name",name="gamestate[name]",value=gamestate.name,id='gamestate_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="gamestate_image_id") Image
    select.custom-select.select2#gamestate_image_id(
        name="gamestate[image_id]",
        data-placeholder="Select Image, if any"
    )
        option(selected=!gamestate.image_id value="-1") None
        for image in images
            option(value=image.id selected=gamestate.image_id===image.id)= image.name

.form-group#map-group
    label.control-label.w-100#map-heading(for="gamestate_map", data-toggle="collapse" data-target="#map-container" aria-expanded="true") Map
        span.float-right.pl-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down


    .div#map-container.collapse.show(aria-labelledby="map-heading")
        .list-group#gamestate_map

            - let i = 0;
            each area in gamestate.map
                +area(area, i, rooms)
                - i++;
            +area({}, 'new', rooms)

        .col.text-right.mt-2
            button.btn.btn-outline-success#add-area-btn
                i.fa.fa-plus
                |  Add Area

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="gamestate[start]", id="gamestate_start", checked=gamestate.start disabled=gamestate.start)
        label.custom-control-label(for="gamestate_start") Start State

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="gamestate[special]", id="gamestate_special", checked=gamestate.special)
        label.custom-control-label(for="gamestate_special") Special State

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="gamestate[template]", id="gamestate_template", checked=gamestate.template)
        label.custom-control-label(for="gamestate_template") is a Template

.form-group
    label.control-label(for="gamestate_description") Description (Player Facing)
    textarea.form-control(name="gamestate[description]",id="gamestate_description",rows=3)
        = gamestate.description

.form-group
    label.control-label(for="gamestate_rooms") Additional Rooms
    select.custom-select.select2(multiple, name="gamestate[rooms]",id="gamestate_rooms")
        for room in rooms
            option(value=room.id selected=_.indexOf(gamestate.rooms, room.id.toString()) !== -1)= room.name

.form-group
    button.btn.btn-primary(type="submit")= gamestate.id?'Update':'Create'
    a.btn.btn-link(href="/gamestate") Cancel


+action({}, 'new', 'new', rooms)
