include ../partials/gameactions

.row.my-2
    .col
        .row-my-2
            .col.pl-0
                .form-group
                    label.control-label(for="gamestate_name") Name
                    input.form-control(type="text",placeholder="Name",name="gamestate[name]",value=gamestate.name,id='gamestate_name',required)
                    div.invalid-feedback Please choose a valid name

                .form-group
                    label.control-label(for="gamestate_image_id") Image
                    select.custom-select.select2#gamestate_image_id(
                        name="gamestate[image_id]",
                        data-placeholder="Select Image, if any"
                    )
                        option(selected=!gamestate.image_id value="-1") None
                        for image in images.filter(i=>{return i.is_gamestate})
                            option(value=image.id selected=gamestate.image_id===image.id, data-url=image.url)= image.display_name?image.display_name:image.name
    .col-md-3
        img.img-fluid#gamestate-image(src=gamestate.image_id?_.findWhere(images, {id: gamestate.image_id}).url:'')


.form-group#map-group
    label.control-label.w-100#map-heading(for="gamestate_map", data-toggle="collapse" data-target="#map-container" aria-expanded="false") Map
        .badge.badge-info.ml-1 #{gamestate.map.length} #{gamestate.map.length === 1?'item':'items'}
        i.expand-text-shown.ml-4 (click to hide configuration)
        i.expand-text.ml-4 (click to show configuration)
        span.float-right.pl-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down


    .div#map-container.collapse(aria-labelledby="map-heading")
        .list-group#gamestate_map

            - let i = 0;
            each area in gamestate.map
                +area(area, i)
                - i++;
            +area({}, 'new')

        .col.text-right.mt-2
            button.btn.btn-outline-success#add-area-btn
                i.fa.fa-plus
                |  Add Area



fieldset.mb-2
    label Gamestate Options
    .row.mb-2
        .col
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="gamestate[start]", id="gamestate_start", checked=gamestate.start disabled=gamestate.start)
                label.custom-control-label(for="gamestate_start") Start State

        .col
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="gamestate[special]", id="gamestate_special", checked=gamestate.special)
                label.custom-control-label(for="gamestate_special") Special State

    .row.mb-2
        .col
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="gamestate[finish]", id="gamestate_finish", checked=gamestate.finish)
                label.custom-control-label(for="gamestate_finish") End/Finish State

        .col
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="gamestate[template]", id="gamestate_template", checked=gamestate.template)
                label.custom-control-label(for="gamestate_template") Is a Template
    .row.mb-2
        .col
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="gamestate[chat]", id="gamestate_chat", checked=gamestate.chat)
                label.custom-control-label(for="gamestate_chat") Has Chat

        .col
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="gamestate[show_count]", id="gamestate_show_count", checked=gamestate.show_count)
                label.custom-control-label(for="gamestate_show_count") User Count is Public


.form-group
    label.control-label(for="gamestate_description") Description (Player Facing)
    textarea.form-control(name="gamestate[description]",id="gamestate_description",rows=3)
        = gamestate.description

.form-group
    label.control-label(for="gamestate_codes") Codes Allowed
    select.custom-select.select2(multiple, name="gamestate[codes]",id="gamestate_codes")
        for code in codes
            option(value=code.id selected=_.indexOf(gamestate.codes, code.id.toString()) !== -1)= code.code

.form-group
    button.btn.btn-primary(type="submit")= gamestate.id?'Update':'Create'
    a.btn.btn-link(href="/gamestate") Cancel


+action('gamestate_map', 'gamestate[map][new]', {}, 'new', 'new')
+jsEditorModal()
