extends ../layout

block content
    if checkPermission('creator')
        a.btn.btn-outline-success(href='/gamestate/new')
            span(class="fa fa-plus")
            |  New Gamestate
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    th(data-priority="6") Id
                    th(data-priority="1", data-order='asc') Name
                    th(data-priority="2") Image
                    th(data-priority="3") Codes
                    th(data-priority="4") Has Chat
                    th(data-priority="5") Public Count
                    if checkPermission('creator')
                        th

            tbody
                for gamestate in gamestates
                    tr(class='clickable-row', data-click-object='gamestate' data-click-id=gamestate.id)
                        td.dtr-expand
                        th=gamestate.id
                        td
                            a(href='/gamestate/' + gamestate.id)= gamestate.name
                            if gamestate.start
                                span.badge.badge-success.ml-2 Start
                            if gamestate.special
                                span.badge.badge-info.ml-2 Special
                            if gamestate.template
                                span.badge.badge-warning.ml-2 Template
                            if gamestate.finish
                                span.badge.badge-danger.ml-2 End
                        td
                            if gamestate.image_id
                                = gamestate.image.display_name?gamestate.image.display_name:gamestate.image.name
                            else
                                i None
                        td= _.pluck(gamestate.codes, 'code').join(', ')
                        td= gamestate.chat?"Yes":"No"
                        td= gamestate.show_count?"Yes":"No"
                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-success.btn-sm.mr-1.action-btn(
                                    role="button",
                                    href=`/gamestate/new?clone=${gamestate.id}`,
                                    title="Copy"
                                    data-toggle="tooltip"
                                )
                                    i.fas.fa-copy.fa-fw
                                a.btn.btn-outline-danger.btn-sm.delete-btn(
                                    role="button",
                                    url=`/gamestate/${gamestate.id}`,
                                    data-back='/gamestate'
                                    data-toggle="tooltip"
                                    title="Delete"
                                )
                                    i.fas.fa-trash.fa-fw


append scripts
    script(src='/javascripts/data-table.js')
