extends ../layout

block content
    a.btn.btn-outline-success(href='/run/new')
        span(class="fa fa-plus")
        |  New Run
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    th(style="max-width:50px") ID
                    th(data-order='asc') Name
                    th Current
                    th Show Stubs
                    th
            tbody
                for run in runs
                    tr(class='clickable-row', data-click-object='run' data-click-id=run.id)
                        td.dtr-expand
                        th(scope="row")= run.id
                        td
                            a(href='/run/' + run.id)= run.name
                        td= run.current?'Yes':''
                        td
                            if run.show_stubs
                                | Yes
                            else
                                .badge.badge-danger No
                        td.text-right
                            a.btn.btn-outline-danger.btn-sm.delete-btn(
                                role="button",
                                url=`/run/${run.id}`,
                                data-back='/run',
                                title='Delete'
                            )
                                i.fas.fa-trash.fa-fw


append scripts
    script(src='/javascripts/data-table.js')
