extends ../layout

include ../partials/gamestate
include ../partials/players

block content
    .row.my-2
        h2.d-inline-block Run: #{run.name}
        if run.current
            h3
                span.badge.badge-light.ml-2 Current
    .row
        .form-inline

            if checkPermission('admin')
                a.btn.btn-outline-info.mr-2.mt-2(role="button" href='/run/' + run.id + '/edit')
                    i.fas.fa-edit.pr-1
                    | Edit Run

                a.btn.btn-outline-danger.mr-3.mt-2#reset-run-btn(role="button" url=`/run/${run.id}/reset`, data-csrf=csrfToken, data-back=`/run/${run.id}`)
                    i.fas.fa-sync.pr-1
                    | Reset Run

                .input-group.mt-2.mr-2
                    .input-group-prepend.border-warning
                        .input-group-text.border-warning Send all to:
                    select.custom-select.border-warning.select2.input-sm#run-update-state(data-placeholder='Pick State' style='min-width:150px')
                        option
                        for gamestate in gamestates
                            option(value=gamestate.id)= gamestate.name
                    .input-group-append
                        button.btn.btn-warning#state-update-btn(type="button", url=`/run/${run.id}/stateChange`, data-csrf=csrfToken) Go

            a.btn.btn-outline-info.mt-2.next-step-all-btn(role="button" url=`/run/${run.id}/advance`, data-csrf=csrfToken, data-back=`/run/${run.id}`)
                    i.fas.fa-arrow-right.pr-1
                    | Advance All
            if (_.pluck(users, 'connections').reduce((o, e) => {o += e; return o }, 0))
                a.btn.btn-outline-info.ml-2.mt-2(
                    role="button"
                    data-toggle="modal"
                    data-target="#toastModal"
                    data-type="run"
                    data-run=run.id
                )
                    i.fas.fa-comment.pr-1
                    | Message All
                    .badge.badge-light.ml-1=_.pluck(users, 'connections').filter(e => {return e;}).length
                    .sr-only Connected Users



    h3.my-2 Players
    +players(users)

append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/run.js')
    script(src='/javascripts/player.js')
