extends ../layout

include ../partials/gamestate
include ../partials/players

block content
    .row.my-2
        h2.d-inline-block Run: #{run.name}
        if run.current
            h3
                span.badge.badge-light.ml-2 Current
    if checkPermission('admin')
        .row
            .form-inline
                a.btn.btn-outline-info.mr-2.mt-2(role="button" href='/run/' + run.id + '/edit')
                    i.fas.fa-edit
                    |  Edit Run
                a.btn.btn-outline-danger.mr-3.mt-2.reset-run-btn(role="button" url=`/run/${run.id}/reset`, data-csrf=csrfToken, data-back=`/run/${run.id}`)
                    i.fas.fa-sync
                    |  Reset Run
                .input-group.mt-2
                    .input-group-prepend.border-warning
                        .input-group-text.border-warning Send all Players to:
                    select.custom-select.border-warning.select2#run-update-state(data-placeholder='Pick State' style='min-width:150px')
                        option
                        for gamestate in gamestates
                            option(value=gamestate.id)= gamestate.name
                    .input-group-append
                        button.btn.btn-warning#state-update-btn(type="button", url=`/run/${run.id}/stateChange`, data-csrf=csrfToken) Go


    h3.my-2 Players
    +players(users)

append scripts
    script(src='/javascripts/run.js')
