.form-group
    label.control-label(for="room_name") Name
    input.form-control(type="text",placeholder="Name",name="room[name]",value=room.name,id='room_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    label.control-label(for="room_code") Code
    input.form-control(type="text", placeholder="Code", name="room[code]",id="room_code",value=room.code)

.form-group
    label.control-label(for="room_url") Zoom URL
    input.form-control(type="text", placeholder="URL", name="room[url]",id="room_url",value=room.url,required)

.form-group
    label.control-label(for="room_gm") GM
    input.form-control(type="text", placeholder="GM Name", name="room[gm]",id="room_gm",value=room.gm)

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="room[active]", id="room_active", checked=room.active)
        label.custom-control-label(for="room_active") Active

.form-group
    label.control-label(for="room_description") Description
    textarea.form-control(name="room[description]",id="room_description",rows=3)
        = room.description

.form-group
    button.btn.btn-primary(type="submit")= room.id?'Update':'Create'
    a.btn.btn-link(href="/room") Cancel


