extends ../layout

block content
    a.btn.btn-outline-success(href='/room/new')
        span(class="fa fa-plus")
        |  New Room
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    th(data-priority="1") Name
                    th(data-priority="2") Code
                    th URL
                    th(data-priority="3") GM
                    th(data-priority="4") Active
                    if checkPermission('creator')
                        th

            tbody
                for room in rooms
                    tr(class='clickable-row', data-click-object='room' data-click-id=room.id)
                        td.dtr-expand
                        td
                            a(href='/room/' + room.id)= room.name
                        td= room.code
                        td= room.url
                        td= room.gm
                        td= room.active?'Yes':'No'
                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-danger.btn-sm.delete-btn(
                                    role="button",
                                    url=`/room/${room.id}`,
                                    data-back='/room'
                                )
                                    i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
