extends ../layout

block content
    if checkPermission('creator')
        a.btn.btn-outline-success(href='/document/new')
            span(class="fa fa-plus")
            |  New Document
    .table-responsive
        .col-sm-6.offset-sm-3.text-center#tableLoading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .sr-only Table is Loading
        table.table.table-striped.table-filtered.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100(
            style="display:none"
        )
            thead
                tr
                    if checkPermission('creator')
                        th Id
                    th(data-order='asc') Name
                    th(data-nofilter='true') Description
                    if checkPermission('creator')
                        th(data-priority="1")

            tbody
                for document in documents
                    tr(class='clickable-row', data-click-object='document' data-click-id=document.id)
                        if checkPermission('creator')
                            th=document.id
                        td
                            a(href='/document/' + document.id)= document.name
                        td.text-truncate(style="max-width:300px")= document.description
                        if checkPermission('creator')
                            td.text-right
                                a.btn.btn-outline-danger.btn-xs.delete-btn(
                                    role="button",
                                    url=`/document/${document.id}`,
                                    data-back='/document'
                                )
                                    i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
