extends ../layout

block content
    .table-responsive
        table.table.table-striped.table-sorted.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th Run
                    th Name
                    th Email
                    th Game State
                    th Group
            tbody
                for user in users
                    tr
                        td= runs[user.player.run_id].name
                        td= user.name
                        td= user.email
                        td= user.player.game_state
                        td= user.is_player?player_groups[user.player.group_id].name:''
